.blue-box {
    width: 100%;
    height: 175px;
    background-color: cornflowerblue;
    background-image: url(./img/pattern.png);
}

.logo {
    width: 15%;
    padding-top: 50px;
}

.article title {
    text-align: center;
}

.header-p {
    color: darkgray;
}

#de-booleaner {
    color: darkturquoise;
}

main {
    margin-top: 20px
}

.tim-photos-camptions {
    font-size: 10px;
}

table {
    width: 100%;
}

.thead-row {
    background-color:rgba(32,169,229,255);
    color: white;
}

.twenty-five-percent {
    width: 25%;
}

.fifty-percent {
    width: 50%;
}

.tbody-odd-rows {
    background-color: rgba(177,229,242,255);
}

.footer-p {
    color: darkgrey;
}

.footer-pics-monitor {
    position: relative;
    color: white;
}

.monitor-text {
    position: absolute;
    top: 8px;
    left: 16px;
  }

  .footer-pics-graph {
    position: relative;
    color: white;
  }

  .graph-text {
    position: absolute;
    top: 8px;
    left: 16px;
  }